<!-- top header start -->
<div class="cv-top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="cv-head-contact">
                    <h3>Phone: +91-999-079-3344</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cv-head-icon">
                    medrent786@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top header end -->
<!-- main header start -->
<div class="cv-main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-9">
                <div class="cv-logo">
                    <!-- class="img-fluid" -->
                    <a href="index.html"><img src="assets/images/logo.png" alt="image" class="img-fluid" style="height: 70px; width: 250px;" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-3">
                <div class="cv-nav-bar">
                    <div class="cv-menu">
                        <ul>
                            <li class="cv-children-menu"><a href="/">Home</a>
                                <!-- <ul class="cv-sub-mmenu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                    <li><a href="index3.html">Home 3</a></li>
                                </ul> -->
                            </li>
                            <li class="cv-children-menu cv-mega-li"><a href="javascript:;">Collection</a>
                                <div class="cv-mega-menu">
                                    <div class="cm-menu-list">
                                        <ul>
                                            <li>
                                                <h3>Face Mask</h3>
                                            </li>
                                            <li><a href="shop.html">N95 masks</a></li>
                                            <li><a href="shop.html">Prana air masks</a></li>
                                            <li><a href="shop.html">Totobobo masks</a></li>
                                            <li><a href="shop.html">Oxiclear masks</a></li>
                                            <li><a href="shop.html">Noymi masks</a></li>
                                        </ul>
                                    </div>
                                    <div class="cm-menu-list">
                                        <ul>
                                            <li>
                                                <h3>PPE kit</h3>
                                            </li>
                                            <li><a href="shop.html">General free size</a></li>
                                            <li><a href="shop.html">Disposable kit</a></li>
                                            <li><a href="shop.html">Surgical gown</a></li>
                                            <li><a href="shop.html">Non woven kit</a></li>
                                            <li><a href="shop.html">Pp spun bond</a></li>
                                        </ul>
                                    </div>
                                    <div class="cm-menu-list">
                                        <ul>
                                            <li>
                                                <h3>safety suits</h3>
                                            </li>
                                            <li><a href="shop.html">Nonwoven laminated</a></li>
                                            <li><a href="shop.html">100 gsm disposable</a></li>
                                            <li><a href="shop.html">Polypropylene 90 GSM</a></li>
                                            <li><a href="shop.html">Disposable</a></li>
                                            <li><a href="shop.html">Body coveralls</a></li>
                                        </ul>
                                    </div>
                                    <div class="cm-menu-list">
                                        <ul>
                                            <li>
                                                <h3>Eye protect</h3>
                                            </li>
                                            <li><a href="shop.html">safety goggles</a></li>
                                            <li><a href="shop.html">Zoom goggles</a></li>
                                            <li><a href="shop.html">Sleeping masks</a></li>
                                            <li><a href="shop.html">Eye lense</a></li>
                                            <li><a href="shop.html">Eye protector</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Service</a></li>
                            <li class="cv-children-menu"><a href="javascript:;">Pages</a>
                                <ul class="cv-sub-mmenu">
                                    <li><a href="blog-single.html">Blog single</a></li>
                                    <li><a href="product-single.html">Product single</a></li>
                                    <li><a href="account.html">My account</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="cv-toggle-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>