
    <div class="cv-main-wrapper">
        {{> _nav}}

            <div class="cv-breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cv-breadcrumb-box">
                                <h1>About Us</h1>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->
            <!-- about start -->
            <div class="cv-about">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-5">
                    <div class="cv-about-img spacer-top">
                        <img src="https://via.placeholder.com/360x520" alt="image" class="img-fluid"/>
                    </div>
                </div> -->
                        <div class="col-lg-12">
                            <div class="cv-about-content">
                                <p>
                                    <h3>Patient Care at Home Is Now Easy</h3>
                                    In the movement of fullfilling the qoute "Patient Care at Home Is Now Easy" MEDRENT
                                    Launched Medical Equipment Rental Services- for the first time in Faridabad. In the
                                    modren world of change, there has been changed a lot also in the care giving
                                    techniques that is care giving is now easy at home. MEDRENT Services provides the
                                    facility to setup all equipments at home on rent or sale required for patients of
                                    any disease. Medrent offers the equipments for rent & sale such as Oxygen
                                    Concentrator, Oxygen Cylinder, C-PAP, Bi-PAP, Suction Machine, Hospital Beds, Ripple
                                    Bed (Air Mattress), Wheel Chair, Nebulizer, Walkers, Crutches, Bed Pans, Commode
                                    Chairs, BP Apparatus, etc. The Rental Services starts from Rs. 30/- onwards and
                                    further depends on the medical equipment.
                                    <br>
                                    <br>
                                    Home care is a critical concern for an increasing number of patients with both
                                    chronic and acute diseases. Patients with chronic illness are living longer, and
                                    patients with acute illness are discharged from hospitals earlier, increasing the
                                    need for complex and often less costly care in the home. New technologies,
                                    pharmaceutical advances, and the continuing desire of patients and their families to
                                    remain in their homes have joined together to change the way of treatment of acute
                                    and chronic disease patients. This advacement in technologies has resulted in
                                    shifting the medical care delivery from hospital-based care back to home-based care.
                                    <br>
                                    <br>
                                    In these advances in technologies, pharmaceutical advances and very costly care of
                                    patient at hospital have made the home care “first option,” preferred over care at
                                    hospitals, emergency departments, or nursing homes whenever care needs can safely be
                                    met at home.
                                    <br>
                                    <br>
                                    Also at various situations medical equipments make the life easier but often
                                    equipment are very expensive and it may be that they require only for short time so
                                    to buy the equipment is of no sense. So MEDRENT has taken a very revolutionary &
                                    innovative step in patient caring technique at home by starting rental services of
                                    medical equipments at Faridabad.
                                    <br>
                                    <br>
                                    <h3>Vision For Patient Welfare</h3>

                                    According to Mr. Amit Manocha of MEDRENT, "MEDRENT offers unaffordable medical equipment
                                    on rent for home use such as Oxygen Concentrator, Oxygen Cylinder, C-PAP, Bi-PAP,
                                    Suction Machine, Hospital Beds, Ripple Bed (Air Mattress), Wheel Chair, Nebulizer,
                                    Walkers, Crutches, Bed Pans, Commode Chairs, BP Apparatus, etc." The Rental Services
                                    starts from Rs. 30/- onwards and further depends on the medical equipment. We can take
                                    an example of Semi-Fowler bed, which can be used for a patient who can't sit without
                                    support and take meal. A Semi-Fowler bed can be reclined at 45º to 90º so that patient
                                    can take meal.
                                    <br>
                                    <br>
                                    People avoid buying Semi-Fowler bed because of high cost for short duration. So Renting
                                    a Semi-Fowler bed is an excellent choice for the care giver in such cases. So it becomes
                                    much easier to give meal to such type of patient.
                                    <br>
                                    <br>
                                    <h6>For taking these noval services of MEDRENT dial a special no. 09990703344.</h6>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about end -->
            <div style="height: 20px;"></div>